# Ambiente Virtual
venv/
.venv/
env/
.env

# Arquivos de cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de cache do Jupyter Notebook
.ipynb_checkpoints/

# Arquivos de IDEs e editores
.vscode/
.idea/
.project
.classpath
*.swp

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Pasta de modelos (vamos adicioná-la mais tarde, mas é bom já ignorar)
# models/

# Pasta de dados processados
data/processed/

# Arquivos de log e relatórios locais
*.log
*.tmp